<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head (titulo='Acerca de')">
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <div class="container-fluid">
            <h1>ToDoList</h1>
            <ul>
                <li>Developed by Aleh Sumin </li>
                <li>Version 1.0.1</li>
                <li>Release date: 20 March 2025</li>
            </ul>
        </div>
    </div>
    <div th:replace="fragments::javascript"></div>
    </body>
</html>
